<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <!-- If True the online Databases will be Backed up to *.bak files  -->
    <add key="DataBaseBackup" value="false" />
    <!-- SQL Server name for connection -->
    <add key="SqlServer" value=".\SQLEXPRESS2014" />
    <add key="SqlAdmin" value="sa" />
    <add key="SqlAdminPass" value="" />
    <!-- Folder on the disk that files should be copied to -->
    <add key="BackupDBFolder" value="C:\Backup\DB" />
    <!-- If set to True. The DB *.bak files will be compressed into the specified zip file. -->
    <!-- YOU NEED TO COMPRESS IF SENDING TO AZURE -->
    <add key="CompressDBBackup" value="false" />
    <!-- Full Path and Name of the zip file to use to compress the Database backup -->
    <add key="BackupDBZipPathName" value=".\databasezipfile.zip" />
    <add key="WebsiteBackup" value="false" />
    <add key="WebRootFolder" value="C:\Websites" />
    <add key="WebZipFolder" value="C:\Backup\Websites" />
    <!-- Backup IIS Settings -->
    <add key="IISSettingsBackup" value="false" />
    <!-- Clear Website LogFiles -->
    <!-- This will delete any logfiles over the retension day limit -->
    <!-- Admin access usually required -->
    <add key="ClearIISLogFiles" value="false" />
    <add key="LogFileFolder" value="C:\inetpub\logs\LogFiles" />
    <add key="LogFileRetensionDays" value="7" />
    <!-- Azure connection -->
    <add key="copytoazure" value="false" />
    <add key="StorageConnectionString" value="DefaultEndpointsProtocol=https;AccountName={account anme};AccountKey={azure access key}" />
    <add key="StorageContainer" value="backupservercontainer" />
    <!-- Retension of the snapshots (verisons) in minutes (1440 in 1 day) -->
    <add key="retensionminutes" value="5800" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>